/* When on Mobile Screen */
@media(max-width:768px){
  header p{
    padding: 20px;
    font-size: 35px;

  }
  nav ul li{
    margin-left: -30px;
    font-size: 15px;
    padding: 5px 0px;
    width: 100%;
  }
}

@media(max-width:1008px){
  nav ul li{
    font-size: 15px;
    padding: 10px 30px;
  }
  #banner .container div{
    width: 100%;
    float: none;
  }
  .plus{
    padding: 0;
    margin: 0;
    font-size: 50px;
  }
  .left-banner-content h1,
  .right-banner-content h1{
    font-size: 20px;
    padding: 10px;
  }
  .left-banner-content p,
  .right-banner-content p{
    font-size: 12px;
    padding: 10px;
  }
  #banner .container div{
    margin-top: 20px;
    margin-bottom: 0px;
  }
  #mainbody{
    margin-top: 20px;
  }
  .project-heading div{
    float: none;
    width: 100%;
  }
  .hr-left,
  .hr-right{
    display: none;
  }
  .middle{
    display: block;
    text-align: center;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  #mainbody .projects{
    float: none;
    width:100%;
  }
}
