/* Global Styles */
*{
  box-sizing: border-box;
}
body{
  padding: 0px;
  font-family: 'Roboto Slab', sans-serif;
}

html, body{
  height: 100%;
}

.main-container{
  height: 100%;
  /* border: 5px solid #0B245B; */
}

ul, li, p, div, a, nav, header, section, svg, main, body,
h1, h2, h3, h4, h5, h6, span{
  margin: 0;
  padding: 0;
}

li{
  margin:0;
  padding: 0;
  list-style: none;
}

/* Top Menu */
.top-menu{
  position: fixed;
  background: #E1E0E0;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
}

.menu-button{
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin-top: 50px;
  margin-left: 50px;
}

.menu-items-list{
  display: none;
  background: #E1E0E0;
  font-size: 3rem;
  text-transform: uppercase;
  width: 100%;
  padding: 40px 0px;
}

.menu-item a{
  display: inline-block;
  /* border: 1px solid #0B245B; */
  margin-left: 50px;
  padding: 20px 0px;
  color: #0B245B;
  font-weight: 800;
  z-index:1;
}

.current-page a{
  color: #98063A;
}

/*  */
.landing-page-section{
  margin: 600px auto 0 auto;
  width: 80%;
}

.intro-text{
  text-transform: uppercase;
  color: #0B245B;
  text-align: center;
}
.name-intro{
  border-bottom: 5px solid #0B245B;
  font-size: 5rem;
}
.tag-intro{
  margin-top: 10px;
  font-size: 2.9rem;
}

/* About Me Section */
.about-me-wrapper{
  margin-top: 400px;
  text-align: center;
  border: 15px solid #0B245B;
  padding: 50px 50px 0px 50px;
  font-size: 20px;
  text-transform: uppercase;
  background: #E1E0E0;
  color: #0B245B;
}
.about-heading{
  display: inline;
  padding: 20px 50px;
  border: 15px solid #ffffff;
  background: #98063A;
  color: #ffffff;
  font-size: 40px;
  position: relative;
  top: -80px;
}
.about-me-content{
  text-align: left;
  font-size: 25px;
  line-height: 2.6rem;
}
.bottom-button button{
  font-family: 'Roboto Slab', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  display: inline;
  padding: 20px 50px;
  border: 15px solid #ffffff;
  background: #98063A;
  color: #ffffff;
  font-size: 40px;
  font-weight: 800;
}
.bottom-button{
  position: relative;
  top: 70px;
}