/* 
Color Pallete
#0B245B - Blue
#E1E0E0 - Gray
#98063A - Red- Crimson
#F9FAF5 - White-ish
*/

/* Global Styles */
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
body, p, h1, h2, h3, h4, h5, h6,
ul, li, a, button, form, fieldset, legend,
input, div{
  padding: 0;
  margin: 0;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Top Menu */
.menu-button{
  cursor: pointer;
  display: inline-block;
  border: none;
  background: #e1e0e0;
}

.menu-button div{
  width: 30px;
  height: 3px;
  background-color: #0B245B;
  margin: 5px 0;
  transition: 0.2s;
}
.menu-button .l3{
  width: 15px;
}
.top-menu{
  background: #e1e0e0;
  padding: 15px;
}

.change .l2{
  opacity: 0;
}
.change .l1{
  -webkit-transform: rotate(-45deg) translate(-7px, 3px);
  transform: rotate(-45deg) translate(-7px, 3px);
}
.change .l3{
  width: 30px;
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
  transform: rotate(45deg) translate(-8px, -6px);
}

.menu-items-list{
  width: 100%;
  background-color: #e1e0e0;
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: underline;
  position: absolute;
  padding: 0px 0px 0px 15px;
  left: 0px;
  display: none;
}

.menu-items-list li{
  padding: 20px 0px;
}

.menu-items-list a{
  color: #0B245B;
}

.current-page a{
  color: crimson;
}

/* landing page top section */
.personal-info-section{
  margin: auto;
  width: 100%;
}
.intro-text{
  color: #0B245B;
  padding: 100px 0px;
  text-align: center;
  text-transform: uppercase;
  /* background:; */
}
.name-intro{
  font-size: 2em;
  border-bottom: 2px solid #0B245B;
  font-weight: 600;
}
.tag-intro{
  margin-top: 5px;
  font-size: 1.1em;
}
/* About Section */
.about-me-wrapper{
  border: 5px solid #0B245B;
  background: #e1e0e0;
  color: #0B245B;
  margin: auto;
  width: 90%;
  padding: 30px;
  text-align:center;
}
.about-heading{
  border: 5px solid #ffffff;
  border-radius: 35px;
  background: bisque;
  color: #0B245B;
  display: inline-block;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  top:-55px;
  margin:auto;
  box-shadow: 0 0 3px 3px silver;
}
.about-me-content{
  margin-top: -50px;
  margin-bottom: -50px;
  padding: 20px 0px;
  text-align: left;
  font-size: 0.8em;
  line-height: 1.5em;
}
.about-me-bottom-buttons{
  margin:0px 0px;
  position: relative;
  top: 55px;
}

.link{
  color: crimson;
  text-decoration: underline;
}

/* App Buttons Styling */
.app-buttons{
  display: inline;
  border: 5px solid #ffffff;
  border-radius: 35px;
  color: #0B245B;
  padding: 5px 25px;
  font-size: .7em;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}
.app-buttons:hover{
  background: #0B245B;
  transition: .4s;
}
.projects-section{
  background: #0B245B;
}
.project-section-title{
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 600;
  text-align: center;
  padding: 10px 10px;
  color: white;
}
.projects-section > div, .projects-section > h2{
  margin: 0px 10px;
}
.project-title{
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: .9em;
  background: #e1e0e0;
  color: #0B245B
}
.project-info{
  padding: 20px 10px 10px 10px;
  font-size: .7em;
  line-height: 1.4em;
}
.project-screens{
  padding: 10px;
}
.comp-mockup{
  width: 100%;
}
.first-project{
  color: white;
  border: 2px solid #e1e0e0;
}
.project-links{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 990px) {
  .menu-button{
    display: none;
  }
  .menu-items-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    margin-right: 30px;
  }
} 